
@{
    ViewData["Title"] = "Class";
}
@model IEnumerable<Exam_Management_System.Models.Class>;
<section class="content-header bg-gray-active" style="padding-top:10px;margin-top:-10px">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="">
                Class
                <small>Information</small>
            </h2>
        </div>
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <span class="input-group-addon bg-gray"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" id="search" placeholder="Search.........." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid bg-info">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-success" style="box-shadow:gainsboro 5px 5px">
                <div class="box-header">
                    <i class="fa fa-plus-square fa-2x"></i><span style="font-size:25px"> Add Class</span>
                </div>
                <div class="box-body" style="padding:20px">
                    <form asp-controller="Class" asp-action="AddClass" method="post">
                        <div class="form-group">
                            <label>Class Name</label>
                            <input type="text" class="form-control" name="Name" />
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <select name="Year_id" id="year" class="form-control">
                                <option>----Select----</option>
                                @{
                                    var year = ViewBag.year;
                                    foreach (var y in year)
                                    {
                                        <option value="@y.Id">@y.Name</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">

                <div class="box-body table-responsive">
                    <table class="table table-hover text-center table-bordered">
                        <thead class="bg-gray">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td>@c.Id</td>
                                    <td>@c.Name</td>
                                    <td>@c.Year</td>
                                    <td>
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#@c.Id"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" id="delete" name="@c.Id"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                                <div class="modal fade" tabindex="-1" role="dialog" id="@c.Id">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form asp-controller="Class" asp-action="EditClass" method="post">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title"><i class="fa fa-edit"></i> Edit</h4>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                        <input type="hidden" class="form-control" name="Id" value="@c.Id" />
                                                        <div class="form-group">
                                                            <label>Class Name</label>
                                                            <input type="text" class="form-control" name="Name" value="@c.Name" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Year</label>
                                                            <select name="Year_id" id="year" class="form-control">
                                                                <option>----Select----</option>
                                                                @{
                                                                    var year1 = ViewBag.year;
                                                                    foreach (var y in year1)
                                                                    {
                                                                        if (y.Id == c.Year_id)
                                                                        {
                                                                            <option value="@y.Id" selected>@y.Name</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@y.Id">@y.Name</option>
                                                                        }

                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

             $('body').delegate('table #myTable tr td #delete', 'click', function (e) {
                    console.log('OK')
                      if(confirm("Are you sure you want to delete this?")){
                          $.ajax({
                              url: "/Class/RemoveClass/" + e.target.name,
                              type: "GET",
                              success: function (data) {
                                 location.reload(true);
                              }
                          });
                        }
                        else{
                          console.log('Cancle');
                        }
              });
        });
    </script>
}
