
@{
    ViewData["Title"] = "Class";
}
@model IEnumerable<Exam_Management_System.Models.Class>;
<section class="content-header bg-gray" style="padding-top:10px">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="">
                Class
                <small>Info</small>
            </h2>
        </div>
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <i class="fa fa-plus-square fa-2x"></i><span style="font-size:25px"> Add Class</span>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Class Name</label>
                            <input type="text" class="form-control" name="Name" />
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <select name="Year_id" id="year" class="form-control">
                                <option>----Select----</option>
                                @{
                                    var year = ViewBag.year;
                                    foreach (var y in year)
                                    {                                      
                                            <option value="@y.Id">@y.Name</option>                                       

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead class="bg-gray">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td>@c.Id</td>
                                    <td>@c.Name</td>
                                    <td>@c.Year</td>
                                    <td>
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#@c.Id"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" asp-controller="Major" asp-action="RemoveMajor" asp-route-id="@c.Id"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                                <div class="modal fade" tabindex="-1" role="dialog" id="@c.Id">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <form asp-controller="Class" asp-action="EditClass" method="post">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title"><i class="fa fa-edit"></i> Edit</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" class="form-control" name="Id" value="@c.Id" />
                                                <div class="form-group">
                                                    <label>Class Name</label>
                                                    <input type="text" class="form-control" name="Name" value="@c.Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Year</label>
                                                    <select name="Year_id" id="year" class="form-control">
                                                        <option>----Select----</option>
                                                        @{
                                                            var year1 = ViewBag.year;
                                                            foreach (var y in year1)
                                                            {
                                                                if (y.Id == c.Year_id)
                                                                {
                                                                    <option value="@y.Id" selected>@y.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@y.Id">@y.Name</option>
                                                                }

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                          </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{ 
<script>
    $(function () {
<<<<<<< HEAD
        console.log("OK")
        /*
=======
        //console.log("OK")
         $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        ///////////////////////////////////////////////
>>>>>>> fbdfd7e4dfb6e8a842ae9b8b815c127f179d4b3d
        $.ajax({
            url: "/class/getYear",
            type: "GET",
            success: function (data) {
                console.log(data);
                $.each(data, function (i, year) {
                    var str = ' <option value="' + year.id + '">' + year.name + '</option>';
                    $('#year').append(str);
                })
            }
        })
        */
    })
</script>
}
