
@{
    ViewData["Title"] = "Index2";
}
<style>
    .row #accordion .panel .panel-body li:hover {
        background-color: Highlight;
        color: white;
    }
</style>
<section class="content-header bg-gray-active" style="padding-bottom:5px;margin-top:-10px">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="font-size:25px">
                <i class="fa fa-folder text-orange"></i>
                Final Exam

            </h2>
        </div>

        <div class="col-sm-6">
            <!--
               <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 ">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
            -->

        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid bg-info" style="height:650px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:0px">
                            <a asp-controller="Exam" asp-action="AddExam">
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class='panel-collapse collapse' role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="1" asp-route-major="1">CST </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Second Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="2" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="2" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                Third Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="3" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="3" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                Fourth Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="4" asp-route-major="2">CS</a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="4" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                Final Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="5" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Exam" asp-action="Index2" asp-route-id="5" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-app pull-right" style="background-color:forestgreen;color:white" id="print" asp-controller="Exam" asp-action="PrintFinal" asp-route-id="@ViewBag.year_id" asp-route-major="@ViewBag.major_id">
                        <i class="fa fa-print"></i> Print
                    </a>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="text-center">@ViewBag.year</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <tr class="bg-gray">
                            <th style="width: 10px">No</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Edit</th>
                        </tr>
                        @{
                            var count = 1;
                            foreach (var data in Model)
                            {
                                <tr>
                                    <td class="text-center">@count</td>
                                    <td class="text-center">@data.Subject</td>
                                    <td class="text-center">
                                        <p>@data.Start_time<span> - </span>@data.End_time</p>
                                        <p>(@data.Date)</p>
                                    </td>
                                    <td class="text-center"><a class="btn btn-primary" id="edit" name="@data.Id"><i class="fa fa-edit"></i></a></td>
                                </tr>

                                <div class="modal fade" id="myEdit" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form>
                                                <input type="hidden" id="id" name="Id" />
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="title"></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label>Date:</label>

                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="text" name="Date" class="form-control pull-right" id="datepicker">
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                    <div class="bootstrap-timepicker">
                                                        <div class="form-group">
                                                            <label>Start Time:</label>

                                                            <div class="input-group">
                                                                <input type="text" id="start" name="Start_time" class="form-control timepicker">

                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </div>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form group -->
                                                    </div>
                                                    <div class="bootstrap-timepicker">
                                                        <div class="form-group">
                                                            <label>End Time:</label>

                                                            <div class="input-group">
                                                                <input type="text" id="end" name="End_time" class="form-control timepicker">

                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </div>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form group -->
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                count++;
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('.timepicker').timepicker({
                showInputs: false
            });
            $('#datepicker').datepicker({
                autoclose: true
            });
            $('body').delegate('table tr td #edit', 'click', function (e) {
                console.log(e.target.name);
                $('#myEdit').modal('toggle');
                $.ajax({
                    url: "/Exam/ExamOne/" + e.target.name,
                    type: "GET",
                    success: function (data) {
                        $('#id').val(data[0].id);
                        $('#datepicker').val(data[0].date);
                        $('#start').val(data[0].start_time);
                        $('#end').val(data[0].end_time);
                         $('#title').val(data[0].subject);
                    }
                })
            });
            $('form').submit(function (e) {
                //e.preventDefault();
                console.log($('form').serialize())
                $.ajax({
                    url: "/Exam/PostEditExam",
                    type: "POST",
                    data: $('form').serialize(),
                    success: function (data) {
                        console.log(data);

                    }
                })
            });
        });
    </script>
}