
@{
    ViewData["Title"] = "Exam Title";
}
@model IEnumerable<Exam_Management_System.Models.Examtitle>
<section class="content-header bg-gray-active" style="padding-top:10px;">
    <h1 style="padding-top:10px;padding-bottom:20px">
        Exam Title
        <small>Information</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid bg-info" style="height:650px">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-success" style="box-shadow:gainsboro 5px 5px">
                <div class="box-header">
                    <i class="fa fa-plus-square fa-2x"></i><span style="font-size:25px"> Add Exam Title</span>
                </div>
                <div class="box-body" style="padding:20px">
                    <form asp-controller="Examtitle" asp-action="AddExamTitle" method="post">
                        <div class="form-group">
                            <label>Exam Title</label>
                            <input type="text" class="form-control" name="Name" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="input-group">
                                <span class="input-group-addon bg-gray"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" id="search" placeholder="Search.........." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                  
                        <table class="table table-bordered text-center table-hover">
                            <thead class="bg-gray">
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var exam in Model)
                                {
                                    <tr>
                                        <td>@exam.Id</td>
                                        <td>@exam.Name</td>
                                        <td>
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#@exam.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger" id="delete" name="@exam.Id"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <div class="modal fade" tabindex="-1" role="dialog" id="@exam.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form asp-controller="Examtitle" asp-action="EditExamtitle" method="post">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title"><i class="fa fa-edit"></i> Edit</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <input type="hidden" class="form-control" name="Id" value="@exam.Id" />
                                                        <div class="form-group">
                                                            <label>Class Name</label>
                                                            <input type="text" class="form-control" name="Name" value="@exam.Name" />
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </form>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                }

                            </tbody>
                        </table>
                        
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('body').delegate('table #myTable tr td #delete', 'click', function (e) {
                    console.log('OK')
                      if(confirm("Are you sure you want to delete this?")){
                          $.ajax({
                              url: "/Examtitle/RemoveExamtitle/" + e.target.name,
                              type: "GET",
                              success: function (data) {
                                 location.reload(true);
                              }
                          });
                        }
                        else{
                          console.log('Cancle');
                        }
             });
        });
    </script>
}
