
@{
    ViewData["Title"] = "Attendence";
}

    <style>
        .row #accordion .panel .panel-body li:hover {
            background-color: Highlight;
            color: white;
        }
    </style>
<section class="content-header bg-gray" style="padding-top:10px">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="">
                Attendence
                <small> > @ViewBag.year</small><small style="font-size:16px"> > @ViewBag.major</small>
            </h2>
        </div>
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a asp-controller="Attendence" asp-action="AddAttendence">
                                <i class="fa fa-plus fa-2x"></i> 
                            </a>
                        </h3>
                    </div>                   
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class='panel-collapse collapse' role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="1" asp-route-major="1" asp-route-class_id="1">CST </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Second Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="2" asp-route-major="2" asp-route-class_id="4">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="2" asp-route-major="3" asp-route-class_id="6">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                Third Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="3" asp-route-major="2" asp-route-class_id="7">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="3" asp-route-major="3" asp-route-class_id="9">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                Fourth Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="4" asp-route-major="2" asp-route-class_id="10">CS</a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="4" asp-route-major="3" asp-route-class_id="12">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                Final Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="5" asp-route-major="2" asp-route-class_id="13">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Attendence" asp-action="Index" asp-route-id="5" asp-route-major="3" asp-route-class_id="15">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <input class="hidden" value="@ViewBag.year_id" id="year_id" />
            <input class="hidden" value="@ViewBag.major_id" id="major_id" />
            <div class="row">
                <div class="col-xs-6">
                    <select id="class" class="form-control pull-right" style="margin-top:10px;width:200px">
                        @{
                            var classes = ViewBag.classes;
                            foreach (var s in classes)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-app pull-right" id="print">
                        <i class="fa fa-print"></i> Print
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box-header" id="title" style="font-size:20px;margin-left:20px"></div>
                <div class="box-body">
                    <table class="table">
                        <thead class="bg-gray">
                            <tr ">
                                <th>Roll no</th>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Year</th>
                                <th>Major</th>

                                <th>Total</th>
                                <th>Current</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
   <script>
       $(function () {
           $("#search").on("keyup", function () {
               var value = $(this).val().toLowerCase();
               $("#myTable tr").filter(function () {
                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
           });
           ////////////////////////////////////////////////////////
          
           var class_id = 0;
            var id = $('#year_id').val();
           var major = $('#major_id').val();
            GetData();
            $('#class').change(function () {

                GetData();
            });

           $('#print').click(function () {
               console.log(class_id)
                window.location.href = "https://localhost:44382/Attendence/Print/" + id + "?major=" + major + "&class_id=" + class_id;
           });

            function GetData()
            {
                class_id = $('#class').val();
                
             $.ajax({
            url: "/Attendence/GetAttendence/"+id+"?major="+major+"&class_id=" + class_id,
            type: "GET",
                 success: function (data) {
                     var tit = data[0].year + ' (' + data[0].class + ')';
                     $('#title').html(tit);
                    console.log(data);
                    $('tbody').html(null);
                $.each(data, function (i, item) {
                    var percent = item.current * 100 / item.total;
                    var str = null;
                    if (percent >= 75) {
                         str = ' <tr style="border-left:2px solid green">' +
                            '<td>' + item.rollno + '</td>' +
                            ' <td>' + item.name + '</td>' +
                            '<td>' + item.class + '</td>' +
                            ' <td>' + item.year + '</td>' +
                            ' <td>' + item.major + '</td>' +
                            
                            ' <td>' + item.total + '</td>' +
                            ' <td>' + item.current + '</td>' +
                            ' <td>' + percent + '%</td>' +
                            ' </tr>';
                    } else {
                         str = ' <tr class="bg-danger" style="border-left:2px solid red">' +
                            '<td>' + item.rollno + '</td>' +
                            ' <td>' + item.name + '</td>' +
                            '<td>' + item.class + '</td>' +
                            ' <td>' + item.year + '</td>' +
                            ' <td>' + item.major + '</td>' +
                            
                            ' <td>' + item.total + '</td>' +
                            ' <td>' + item.current + '</td>' +
                            ' <td>' + percent + '%</td>' +
                            ' </tr>';
                    }
                       
                        $('tbody').append(str);
                  
                    });
                }
              });
            }
       });
   </script>
 }