
@{
    ViewData["Title"] = "Print";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<section class=" container-fluid">
    <div class="row">
        <div class="panel">
            <input class="hidden" value="@ViewBag.year_id" id="year_id" />
            <input class="hidden" value="@ViewBag.major_id" id="major_id" />
            <input class="hidden" value="@ViewBag.class_id" id="class_id" />
            <div class="panel-heading">
                <center>
                    <h1>Computer University (Thaton)</h1>
                    <h2>Roll Call Info</h2>
                    <h3>@ViewBag.year</h3>
                    <h4>@ViewBag.classes</h4>
                </center>
            </div>
            <div class="panel-body">
                <table class="table text-center table-bordered">
                    <thead >
                        <tr class="text-center">
                            <th class="text-center">Roll no</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Class</th>
                            <th class="text-center">Year</th>
                            <th class="text-center">Major</th>

                            <th class="text-center">Percentage</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(function () {
                var id = $('#year_id').val();
        var major = $('#major_id').val();
        var class_id = $('#class_id').val();
         $.ajax({
            url: "/Attendence/GetAttendence/"+id+"?major="+major+"&class_id=" + class_id,
            type: "GET",
            success: function (data) {
                       
                    console.log(data);
                    $('tbody').html(null);
                $.each(data, function (i, item) {
                    var percent = item.current * 100 / item.total;
                        var str = ' <tr>' +
                            '<td>' + item.rollno + '</td>' +
                            ' <td>' + item.name + '</td>' +
                            '<td>' + item.class + '</td>' +
                            ' <td>' + item.year + '</td>' +
                            ' <td>' + item.major + '</td>' +
                            ' <td>' + (percent).toFixed(2) + '%</td>' +
                            ' </tr>';
                        $('tbody').append(str);
                  
                    });
                }
              });
    })
</script>