
@{
    ViewData["Title"] = "Mid_Result";
}


<style>
    .row #accordion .panel .panel-body li:hover {
        background-color: Highlight;
        color: white;
    }
</style>
<section class="content-header bg-gray" style="padding-bottom:5px">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="">
                Mid_term Result
                <small> > <span id="year"></span></small><small style="font-size:16px"> > <span id="major"></span></small>
            </h2>
        </div>
        <div class="col-sm-6">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 ">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a asp-controller="Result" asp-action="AddMark">
                                <i class="fa fa-plus fa-2x"></i> 
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class='panel-collapse collapse' role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="1" asp-route-major="1">CST </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Second Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="2" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="2" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                Third Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="3" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="3" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                Fourth Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="4" asp-route-major="2">CS</a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="4" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                Final Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="5" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Result" asp-action="Index" asp-route-id="5" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-6">
                    <select id="class" class="form-control pull-right" style="margin-top:10px;width:200px">
                        @{
                            var classes = ViewBag.classes;
                            foreach (var s in classes)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-app pull-right" id="print">
                        <i class="fa fa-print"></i> Print
                    </a>
                </div>
            </div>
            <input class="hidden" value="@ViewBag.year_id" id="year_id" />
            <input class="hidden" value="@ViewBag.major_id" id="major_id" />
            <div class="box">
                <div class="box-header" id="tit" style="font-size:20px;margin-left:20px"></div>
                <div class="box-body">
                    <table class="table text-center table-hover" style="margin-right:10px">
                        <thead>
                            <tr>

                                <th>Roll no</th>
                                <th>Name</th>
                                @{
                                    var subject = ViewBag.subject;
                                    foreach (var s in subject)
                                    {
                                        <th>@s.Name</th>
                                    }
                                }
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                    <!--////////////////////////////////////////////////////////////////-->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Student Info</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img class="img-rounded img-responsive" id="image" />
                                </div>
                                <div class="col-xs-7">
                                    <div class="panel">
                                        <div class="row" style="margin-top:5px">
                                            <div class="col-xs-4 text-center">Roll No :</div>
                                            <div class="col-xs-8" id="stu_roll"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Name :</div>
                                            <div class="col-xs-8" id="stu_name"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Class :</div>
                                            <div class="col-xs-8" id="stu_class"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Year :</div>
                                            <div class="col-xs-8" id="stu_year"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Phone :</div>
                                            <div class="col-xs-8" id="stu_phone"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Email :</div>
                                            <div class="col-xs-8" id="stu_email"></div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-xs-4 text-center" style="font-size:16px;">Address :</div>
                                            <div class="col-xs-8" id="stu_address"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="padding:20px;">
                                <div class="col-sm-12" id="" style="border:1px solid gray;border-radius:10px;padding-top:20px">
                                    <div class="row text-center">
                                        <div class="col-xs-4 "><h4>Subject</h4></div>
                                        <div class="col-xs-4 "><h4>Mark</h4></div>
                                        <div class="col-xs-4 "><h4>Grade</h4></div>
                                    </div>
                                    <hr />
                                    <div id="showMark">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End-->
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
              $("#search").on("keyup", function () {
               var value = $(this).val().toLowerCase();
               $("#myTable tr").filter(function () {
                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
           });

            var class_id = 0;
             var id = $('#year_id').val();
            var major = $('#major_id').val();
            GetData();
            $('#class').change(function () {
                GetData();
            });
            //////////////////////////////////////
            $('#print').click(function () {
                window.location.href = "https://localhost:44382/Result/PrintMid/" + id + "?major=" + major + "&class_id=" + class_id;
            })

            function GetData() {
                class_id = $('#class').val();
                 $.ajax({
                    url: "/Result/ResultMarkMid/"+id+"?major="+major+ "&class_id=" + class_id,
                    type: "GET",
                    success: function (data) {
                        var start = 0;
                      
                        console.log(data);
                        $('tbody').html(null);
                        $.each(data, function (i, item) {
                            var tit = item.year + ' (' + item.class + ')';
                            $('#tit').html(tit);
                            $('#year').html(item.year);
                            $('#major').html(item.major);
                            if (item.rollno_id == start) {
                                start = item.rollno_id;
                                var td = '<td>' + item.grade + '</td>';
                                $('#p' + item.rollno_id).before(td);
                            } else {
                                start = item.rollno_id;
                                var tr = ' <tr id="t' + item.rollno_id + '">' +                          
                                    '<td>' + item.rollno + '</td>' +
                                    '<td>' + item.name + '</td>' +
                                    '<td>' + item.grade + '</td>' +
                                    '<td id="p' + item.rollno_id + '"><a id="' + item.rollno_id + '"><i class="fa fa-user" id="' + item.rollno_id + '"></i></a></td>' +
                                '</tr > ';
                                $('#myTable').append(tr);
                            }
                        });
                    },
                 });
            }
         
        ///////////////////////////////////////////////////////
        $('body').delegate('table tbody tr td a', 'click', function (e) {
            console.log(e.target.id);
           $('#myModal').modal('toggle');
            $.ajax({
                url: "/Result/GetStudentResult/" + e.target.id,
                type: "GET",
                success: function (data) {
                    console.log(data);
                     $('#image').attr("src", "/student_img/" + data[0].img);
                    $('#title').html(data[0].name);
                    $('#stu_roll').html(data[0].rollno);
                    $('#stu_name').html(data[0].name);
                    $('#stu_class').html(data[0].class);
                    $('#stu_year').html(data[0].year);
                    $('#stu_phone').html(data[0].phone);
                    $('#stu_email').html(data[0].email);
                    $('#stu_address').html(data[0].address);
                     $('#showMark').html(null);
                    $.each(data, function (i, item) {
                        var str = null;
                        if (item.s_mark < 40) {
                            str = '<div class="row text-center text-danger text-bold" >' +
                                '<div class="col-xs-4 " >' + item.subject + '</div>' +
                                '<div class="col-xs-4">' + item.s_mark + '</div>' +
                                '<div class="col-xs-4">' + item.grade + '</div>' +
                                '</div><hr/>';
                        } else {
                             str = '<div class="row text-center text-success text-bold"">' +
                                '<div class="col-xs-4 " >' + item.subject + '</div>' +
                                '<div class="col-xs-4">' + item.s_mark + '</div>' +
                                '<div class="col-xs-4">' + item.grade + '</div>' +
                                '</div><hr/>';
                        }
                       
                        $('#showMark').append(str);
                    });
                     
                }
            });
        })
    });
    </script>

}

