
@{
    ViewData["Title"] = "Student";
}
@model IEnumerable<Exam_Management_System.Models.Student>
<style>
    .row #accordion .panel .panel-body li:hover {
        background-color: Highlight;
        color: white;
    }
</style>

<section class="content-header bg-gray" style="padding-top:0px">
    <div class="row">
        <div class="col-sm-4">
            <h1 style="">
                Students
                <small>@ViewData["year"]</small>
            </h1>
        </div>
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Main content -->
<section class="content container-fluid">

    <div class="row" style="margin-top:0px">
        <div class="col-sm-3 col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class='panel-collapse collapse' role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="1" asp-route-major="1">CST </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Second Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="2" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="2" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                Third Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="3" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="3" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                Fourth Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="4" asp-route-major="2">CS</a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="4" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                Final Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="5" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="5" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="row" style="margin-bottom:10px">
                <div class="col-xs-4 col-xs-offset-4">
                    <select class="form-control" id="class">
                        @{
                            var classes = ViewBag.classes;
                            foreach (var s in classes)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        }
                    </select> 
                </div>
            </div>
            <div class="box box-info">
                <input class="hidden" value="@ViewBag.year_id" id="year_id" />
                <input class="hidden" value="@ViewBag.major_id" id="major_id" />
                <div class="box-header">
                    <span id="title" style="font-size:20px;margin-left:20px"></span>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover text-center">
                        <thead class="bg-gray">
                            <tr style="font-size:16px">
                                <th>Roll No</th>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Year</th>
                                <th>Major</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>

                    </table>
                </div>
               
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Student Info</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img-bordered img-responsive" id="image"/>
                                    </div>
                                    <div class="col-sm-8">

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td>Name</td>
                                                    <td id="name"></td>
                                                </tr>
                                                <tr>
                                                    <td>Roll No:</td>
                                                    <td id="rollno"></td>
                                                </tr>
                                                <tr>
                                                    <td>Phone</td>
                                                    <td id="phone"></td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td id="email"></td>
                                                </tr>
                                                <tr>
                                                    <td>Address</td>
                                                    <td id="address"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Attendence</label>
                                        <div class="progress" id="mod_attendence">
                                           
                                        </div>
                                        <label>Assignment</label>
                                        <div class="progress " id="mod_assignment">
                                           
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End-->
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            //////////////////////////////////////////////////////////////////////////////
             var id = $('#year_id').val();
            var major = $('#major_id').val();
            GetData();
            $('#class').change(function () {
                GetData();
            });

            function GetData()
            {
              var class_id = $('#class').val();
             $.ajax({
            url: "/Student/GetStudent/"+id+"?major="+major+"&class_id=" + class_id,
            type: "GET",
                 success: function (data) {
                     var tit = data[0].year + '(' + data[0].class + ')';
                     $('#title').html(tit);
                console.log(data);
                $('#myTable').html(null);
                $.each(data, function (i, item) {
                   
                    var str = ' <tr>' +
                        '<td>' + item.rollno + '</td>' +
                        ' <td>' + item.name + '</td>' +
                        '<td>' + item.class + '</td>' +
                        ' <td>' + item.year + '</td>' +
                        ' <td>' + item.major + '</td>' +
                        '<td>' +
                        ' <a class="btn btn-success" name="' + item.id + '" id="profile" style="margin-right:10px"><i class="fa fa-user" name="' + item.id + '"></i></a>' +
                        '<a class="btn btn-primary" name="' + item.id + '" id="edit"><i class="fa fa-edit" name="' + item.id + '"></i></a>' +
                    '</td > '+
                        ' </tr>';
                    $('#myTable').append(str);
                  
                });

                 }

             });

            }
            //////////////////////////////////////////////////////////////////
            $('body').delegate('table tbody tr td #edit', 'click', function (e) {
                console.log(e.target.name);
                window.location.href = "https://localhost:44382/Student/EditStudent/" + e.target.name;
            })
            $('body').delegate('table tbody tr td #profile', 'click', function (e) {
                console.log(e.target.name);
                $('#myModal').modal('toggle');
                $.ajax({
                    url: "/Student/GetOneStudent/" + e.target.name ,
                    type: "GET",
                    success: function (data) {
                        var percent = data.current * 100 / data.total;
                        var att = '<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + percent + '%;">' +
                            percent + '%' +
                                            '</div>';
                        console.log(data);

                        $('#name').html(data.name);
                        $('#rollno').html(data.rollno);
                        $('#phone').html(data.phone);
                        $('#email').html(data.email);
                        $('#address').html(percent);
                        $('#mod_attendence').html(att);
                        $('#image').attr("src", "/student_img/" + data.img);
                       
                       // $('#assignment').html(data.address);
                    }

                });
            });
        });
    </script>
}
