
@{
    ViewData["Title"] = "Student";
}
@model IEnumerable<Exam_Management_System.Models.Student>
<style>
    .row #accordion .panel .panel-body li:hover {
        background-color: Highlight;
        color: white;
    }
</style>

<section class="content-header bg-gray-active" style="padding-top:0px">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="">
                <i class="fa fa-users text-green"></i>
                Students
                <small>@ViewData["year"]</small>
            </h2>
        </div>
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <span class="input-group-addon bg-gray"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" id="search" placeholder="Search.........." />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Main content -->
<section class="content container-fluid bg-info">

    <div class="row" style="margin-top:0px">
        <div class="col-sm-3 col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class='panel-collapse collapse' role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="1" asp-route-major="1">CST </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Second Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="2" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="2" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                Third Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="3" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="3" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                Fourth Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="4" asp-route-major="2">CS</a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="4" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title text-center" style="padding:5px">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                Final Year
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-unstyled text-center" style="font-size:18px">
                                <li style="border:1px solid grey;border-radius:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="5" asp-route-major="2">CS </a></li>
                                <li style="border:1px solid grey;border-radius:5px;margin-top:5px;padding:3px"><a asp-controller="Student" asp-action="Index" asp-route-id="5" asp-route-major="3">CT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="row" style="margin-bottom:10px">
                <div class="col-xs-6 col-xs-offset-2">
                    <div class="col-xs-4"><label style="font-size:16px" class="pull-right">Class Name : </label></div>
                    <div class="col-xs-8">
                        <select class="form-control" id="class">
                            @{
                                var classes = ViewBag.classes;
                                foreach (var s in classes)
                                {
                                    <option value="@s.Id">@s.Name</option>
                                }
                            }
                        </select>
                    </div>
                   
                </div>
            </div>
            <div class="box box-info">
                <input class="hidden" value="@ViewBag.year_id" id="year_id" />
                <input class="hidden" value="@ViewBag.major_id" id="major_id" />
                <div class="box-header">
                    <span id="title" style="font-size:20px;margin-left:20px"></span>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover text-center">
                        <thead class="bg-gray">
                            <tr style="font-size:16px">
                                <th>No</th>
                                <th>Roll No</th>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Year</th>
                                <th>Major</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>

                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade modal-primary" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Student Info</h3>
                            </div>
                            <div class="modal-body" style="padding-bottom:100px">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img-rounded img-responsive" id="image" />
                                    </div>
                                    <div class="col-sm-8">

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td>Name</td>
                                                    <td id="name"></td>
                                                </tr>
                                                <tr>
                                                    <td>Roll No:</td>
                                                    <td id="rollno"></td>
                                                </tr>
                                                <tr>
                                                    <td>Phone</td>
                                                    <td id="phone"></td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td id="email"></td>
                                                </tr>
                                                <tr>
                                                    <td>Address</td>
                                                    <td id="address"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Attendence</label>
                                        <div class="progress" id="mod_attendence">

                                        </div>
                                        <!--
                               <label>Assignment</label>
                            <div class="progress " id="mod_assignment">

                            </div>
                            -->



                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End-->


                <div class="modal fade" id="stopModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <form id="stopform" method="post" asp-controller="Student" asp-action="StopStudent">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"><i class="fa fa-play"></i> Stop</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to stop this student?</p>
                                    <input type="hidden" name="Id" id="stu_id" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary bg-green-gradient">Save</button>
                                </div>
                            </form>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <form id="stopform" method="post" asp-controller="Student" asp-action="RemoveStudent">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"><i class="fa fa-trash"></i> Remove</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to remove this student?</p>
                                    <input type="hidden" name="Id" id="stu1_id" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary bg-red-gradient">Delete</button>
                                </div>
                            </form>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" id="playModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <form id="stopform" method="post" asp-controller="Student" asp-action="PlayStudent">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to accept this student?</p>
                                    <input type="hidden" name="Id" id="stu2_id" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Accept</button>
                                </div>
                            </form>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            //////////////////////////////////////////////////////////////////////////////
             var id = $('#year_id').val();
            var major = $('#major_id').val();
            var count = 1;
            GetData();
            $('#class').change(function () {
                GetData();
            });

            function GetData()
            {
              var class_id = $('#class').val();
             $.ajax({
            url: "/Student/GetStudent/"+id+"?major="+major+"&class_id=" + class_id,
            type: "GET",
                 success: function (data) {
                     var tit = data[0].year + '(' + data[0].class + ')';
                     $('#title').html(tit);
                console.log(data);
                $('#myTable').html(null);
                     $.each(data, function (i, item) {
                         var str = null;
                         if (item.status == 'stop') {
                             str = ' <tr class="bg-danger" style="border-left:2px solid yellow">' +
                                 '<td>' + count + '</td>' +
                                 '<td>' + item.rollno + '</td>' +
                                 ' <td>' + item.name + '</td>' +
                                 '<td>' + item.class + '</td>' +
                                 ' <td>' + item.year + '</td>' +
                                 ' <td>' + item.major + '</td>' +
                                 '<td>' +
                                ' <div class="dropdown">'+
                                 '<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cogs text-success"></i>'+ 
   
                                 ' <span class="caret"></span>' +
                                 '</button>' +
                                 '<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">' +
                                 ' <li style="border-bottom:1px solid green;border-top:3px solid green"><a class="text-success" name="' + item.id + '" id="profile" style="margin-right:10px;color:green"><i class="fa fa-user" name="' + item.id + '"></i> Profile</a></li>' +
                                 '<li style="border-bottom:1px solid green"><a class="text-primary" name="' + item.id + '" id="edit" style="margin-right:10px;color:blue"><i class="fa fa-edit" name="' + item.id + '"></i> Edit</a></li>' +
                                 '<li style="border-bottom:1px solid green"><a class="text-warning" name="' + item.student_id + '" id="resume" style="color:violet"><i class="fa fa-play" name="' + item.student_id + '"></i> Reach</a></li>' +
                                 '<li style="border-bottom:2px solid green"><a class="text-warning" name="' + item.student_id + '" id="delete" style="color:red"><i class="fa fa-trash" name="' + item.student_id + '"></i> Delete(Transfer)</a></li>' +
                                 '</ul>' +
                                 '</div>' +

                                 '</td > ' +
                                 ' </tr>';
                         } else {
                              str = ' <tr class="">' +
                                 '<td>' + count + '</td>' +
                                 '<td>' + item.rollno + '</td>' +
                                 ' <td>' + item.name + '</td>' +
                                 '<td>' + item.class + '</td>' +
                                 ' <td>' + item.year + '</td>' +
                                 ' <td>' + item.major + '</td>' +
                                 '<td>' +
                                 ' <div class="dropdown">'+
                                 '<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cogs text-success"></i>'+ 
   
                                 ' <span class="caret"></span>' +
                                 '</button>' +
                                 '<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">' +
                                 ' <li style="border-bottom:1px solid gray;border-top:3px solid gray"><a class="text-success" name="' + item.id + '" id="profile" style="margin-right:10px;color:green"><i class="fa fa-user" name="' + item.id + '"></i> Profile</a></li>' +
                                 '<li style="border-bottom:1px solid gray"><a class="text-primary" name="' + item.id + '" id="edit" style="margin-right:10px;color:blue"><i class="fa fa-edit" name="' + item.id + '"></i> Edit</a></li>' +
                                  '<li style="border-bottom:1px solid gray"><a class="text-warning" name="' + item.student_id + '" id="stop" style="color:violet"><i class="fa fa-stop" name="' + item.student_id + '"></i> Stop</a></li>' +
                                  '<li style="border-bottom:2px solid gray"><a class="text-warning" name="' + item.student_id + '" id="delete" style="color:red"><i class="fa fa-trash" name="' + item.student_id + '"></i> Delete(Transfer)</a></li>' +
                                 '</ul>' +
                                 '</div>' +

                                 '</td > ' +
                                 '</td > ' +
                                 ' </tr>';
                         }
                   
                    $('#myTable').append(str);
                    count++;
                  
                });

                 }

             });

            }
            //////////////////////////////////////////////////////////////////
            $('body').delegate('table tbody tr td #edit', 'click', function (e) {
                console.log(e.target.name);
                window.location.href = "https://192.168.43.141:5001/Student/EditStudent/" + e.target.name;
            })
            $('body').delegate('table tbody tr td #stop', 'click', function (e) {
                console.log(e.target.name);
                $('#stopModal').modal('toggle');
                $('#stu_id').val(e.target.name);

            });
              $('body').delegate('table tbody tr td #resume', 'click', function (e) {
                console.log(e.target.name);
                $('#playModal').modal('toggle');
                $('#stu2_id').val(e.target.name);

              });
             $('body').delegate('table tbody tr td #delete', 'click', function (e) {
                console.log(e.target.name);
                $('#removeModal').modal('toggle');
                $('#stu1_id').val(e.target.name);

            });
            $('body').delegate('table tbody tr td #profile', 'click', function (e) {
                console.log(e.target.name);
                $('#myModal').modal('toggle');
                $.ajax({
                    url: "/Student/GetOneStudent/" + e.target.name ,
                    type: "GET",
                    success: function (data) {
                        var percent = data.current * 100 / data.total;
                        var att = '<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + percent + '%;">' +
                            (percent).toFixed(2) + '%' +
                                            '</div>';
                        console.log(data);

                        $('#name').html(data.name);
                        $('#rollno').html(data.rollno);
                        $('#phone').html(data.phone);
                        $('#email').html(data.email);
                        $('#address').html(data.address);
                        $('#mod_attendence').html(att);
                        $('#image').attr("src", "/student_img/" + data.img);
                       
                       // $('#assignment').html(data.address);
                    }

                });
            });
        });
    </script>
}
