
@{
    ViewData["Title"] = "AddSubject";
}
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Http
<section class="content-header bg-gray-active" style="padding-top:10px">
    <h1 style="padding-top:10px;padding-bottom:20px">
        Subject
        <small>Add</small> <b>@ViewBag.session</b>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid bg-info" style="height:650px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 hidden-sm hidden-lg hidden-md">
                <a asp-controller="Subject" asp-action="Index" class="btn btn-success text-center btn-block hidden-sm hidden-lg hidden-md" style="margin-bottom:10px"><i class="fa fa-arrow-circle-left"></i> Subject</a>
            </div>
        </div>
        <div class="row">
            <a asp-controller="Subject" asp-action="Index" class="btn btn-success pull-left hidden-xs"><i class="fa fa-arrow-circle-left"></i> Subject</a>
            <div class="col-md-4 col-sm-6 col-sm-offset-1 col-md-offset-2">
                <div class="box box-info" style="box-shadow:gainsboro 5px 5px">
                    <div class="box-header" style="border-bottom:1px solid lightgrey">
                        <i class="fa fa-plus-square fa-2x"></i> <span style="font-size:25px">Add Subject</span>
                    </div>
                    <div class="box-body" style="padding:20px">
                        <form asp-controller="Subject" asp-action="PostAddSubject" method="post">
                            <div class="form-group">
                                <label>Year</label>
                                <select name="Year_id" id="year" class="form-control">
                                    <option>----Select---</option>
                                    @{
                                        var year = ViewBag.year;
                                        foreach (var y in year)
                                        {
                                            <option value="@y.Id">@y.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Major</label>
                                <select name="Major_id" id="major" class="form-control">
                                    <option>----Select---</option>
                                    @{
                                        var major = ViewBag.major;
                                        foreach (var m in major)
                                        {
                                            <option value="@m.Id">@m.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="Name" />
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            console.log("OK")
            /*
            $.ajax({
                url: "/subject/getYear",
                type: "GET",
                success: function (data) {
                    console.log(data);
                    $.each(data, function (i, year) {
                        var str = ' <option value="' + year.id + '">' + year.name + '</option>';
                        //$('#year').append(str);
                    })
                }
            });
            $.ajax({
                url: "/major/getMajor",
                type: "GET",
                success: function (data) {
                    console.log(data);
                    $.each(data, function (i, major) {
                        var str = ' <option value="' + major.id + '">' + major.name + '</option>';
                       // $('#major').append(str);
                    })
                }
            });*/
        })
    </script>
}

